.input_form{
    width :90rem;
    margin: 20px auto;
    padding: 20px;
    font-weight: 1000;
    font-size:1.1rem;
    box-sizing:border-box;
}

.text_align{
    margin-left: 5rem;
  }

.middle_title{
    font-weight:1000;
    margin-left:5rem;
}
