.input_form{
    width :90rem;
    margin: 20px auto;
    padding: 20px;
    font-weight: 1000;
    font-size:1.1rem;
    box-sizing:border-box;
}

.text_align{
    margin-left: 5rem;
  }

.sub_title{
    font-weight:1000;
    margin-right:40rem;
}

.highlight{
    background-color: #e3e3e3;
    border-radius:5px 5px 5px 5px;
    padding-left:1rem;
    padding-right:1rem;
}



