.input_form{
    width :80rem;
    margin: 20px auto;
    padding: 20px;
    font-weight: 1000;
    font-size:1rem;
    box-sizing:border-box;
    display: inline-block;
}

.input_box{
    text-align:left;
    width: 48rem;
    height:50px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:3px solid black;

}

.input_label{
    font-size:1rem;
    font-weight:1000;
}
.text_align{
    margin-left: 5rem;
    text-align: center;
  }

.sub_title{
    text-align:center;
    font-weight:1000;
    margin-right:40rem;
    margin-top:2rem;
}

.highlight{
    color: white;
    background-color: black;
    border-radius:5px 5px 5px 5px;
    padding: 0.5rem 5rem;
    margin-left:5rem;
    margin-top: 5rem;
}

.button{
    margin-top:5rem;
    background-color:#c3c3c3;
    padding: 0.5rem 5rem;
    border:none;
    font-size:1.5rem;
    font-weight:1000;;

}


